.superInput {
    margin: 10px;
    background:darkslategray;
    color: #61dafb;
}

.errorInput {
    margin: 10px
;
    border: 2px solid darkred;
    background: darkslategray;
    color: #61dafb;
}

.error {
    color: darkred;
    height: 21px;
    margin-left: 10px;
}

.input:focus {
    outline: none;
    border: chartreuse solid 2px;
}